* {
  box-sizing: border-box;
}

body {
  font-family: monospace;
  color: #8255ff;
  margin: 0;
  padding: 0;
}

#layout {
margin-left:25%;padding:1px 16px;height:1000px;
}

.left-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-image: linear-gradient(#8000ff, #99f, #acf);
  position: fixed;
  height: 100%;
  overflow: auto;
}

li a {
  display: block;
  color: #0ff;
  text-decoration: none;
}

li a.active, button {
  background-color: #8255ff;
  color: white;
}

li a:hover:not(.active) {
  background-color: #8255ff;
  color: white;
}
