/* Style inputs */
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Style the submit button */
input[type=submit], a {
  width: 100%;
  background-color: #A0F;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Add a background color to the submit button on mouse-over */
input[type=submit]:hover {
  background-color: #45a049;
}

body {
  font-family: Menlo, monospace;
  background: linear-gradient(#8255FF,#666FFF, #A0F);
  background-repeat: no-repeat;
  padding: 5px;
  min-height: 100vh;
}

a {
  border: thin black solid;
  display: flex;
  flex-flow: column;
  padding: 5px;
  max-width: 300px;
  margin: auto;
}
a:hover {
  background-image: linear-gradient(#8255ff, #9003ff, #a0f, #0ff);
}
.half {
  width: 48%;
  float: left;
  padding: 5px;
}
#title {
  color: #651FFF;
}
hr {
  border: 12px double mediumslateblue;
}
.tribute-info {
  color: mediumslateblue;
  background: black;
  padding: 10px;
  border: 5px solid slateblue;
}

img {
  max-width: 100%;
}
figcaption, a {
  background-color: black;
  color: blueviolet;
  font: 1rem;
  padding: 2px;
}
#tribute-link {
  color: #CCCCFF;
  background-color: black;
  text-decoration: underline dotted blueviolet;
}
footer {
  color: #CCCCFF;
  font-size: 12px;
  padding: 5px;
  background: linear-gradient(to left, black, white, grey, black);
  background-size: 400%;
  border-bottom: 5px solid mediumslateblue;
  border-right: 5px solid mediumslateblue;
  border-left: 5px solid mediumslateblue;
}