<table>
    <thead>
        <tr>
            <th>Element</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>&lt;a&gt;</td>
            <td>creates a link (hyperlink) to another page</td>
        </tr>
        <tr>
            <td>&lt;abbr&gt;</td>
            <td>abbreviation or acronym</td>
        </tr>
        <tr>
            <td>&lt;address&gt;</td>
            <td>contact information</td>
        </tr>
        <tr>
            <td>&lt;area&gt;</td>
            <td>map area for an image</td>
        </tr>
        <tr>
            <td>&lt;article&gt;</td>
            <td>container for independent and self-contained text</td>
        </tr>
        <tr>
            <td>&lt;aside&gt;</td>
            <td>content area that is related to the primary content on a page</td>
        </tr>
        <tr>
            <td>&lt;audio&gt;</td>
            <td>player for sound</td>
        </tr>
        <tr>
            <td>&lt;b&gt;</td>
            <td>bold text</td>
        </tr>
        <tr>
            <td>&lt;base&gt;</td>
            <td>sets the base URL for all relative URLs on a page</td>
        </tr>
        <tr>
            <td>&lt;blockquote&gt;</td>
            <td>quote from an outside source</td>
        </tr>
        <tr>
            <td>&lt;body&gt;</td>
            <td>container for the page&#39;s content with text, links, images, etc.</td>
        </tr>
        <tr>
            <td>&lt;br&gt;</td>
            <td>line break</td>
        </tr>
        <tr>
            <td>&lt;button&gt;</td>
            <td>clickable button that can contain text or an image</td>
        </tr>
        <tr>
            <td>&lt;canvas&gt;</td>
            <td>graphics container where Javascriot can draw</td>
        </tr>
        <tr>
            <td>&lt;caption&gt;</td>
            <td>caption of a table</td>
        </tr>
        <tr>
            <td>&lt;cite&gt;</td>
            <td>title of a work</td>
        </tr>
        <tr>
            <td>&lt;code&gt;</td>
            <td>used to display computer code</td>
        </tr>
        <tr>
            <td>&lt;col&gt;</td>
            <td>column properties for a table</td>
        </tr>
        <tr>
            <td>&lt;colgroup&gt;</td>
            <td>one or more columns for table formatting</td>
        </tr>
        <tr>
            <td>&lt;data&gt;</td>
            <td>links content to a machine-readable set of related data</td>
        </tr>
        <tr>
            <td>&lt;datalist&gt;</td>
            <td>list of options for a textfield (&lt;input&gt;) element</td>
        </tr>
        <tr>
            <td>&lt;dd&gt;</td>
            <td>description of a term or name to a &lt;dl&gt; element</td>
        </tr>
        <tr>
            <td>&lt;del&gt;</td>
            <td>deleted text</td>
        </tr>
        <tr>
            <td>&lt;details&gt;</td>
            <td>a control that can show and hide additional details</td>
        </tr>
        <tr>
            <td>&lt;div&gt;</td>
            <td>division or section</td>
        </tr>
        <tr>
            <td>&lt;dl&gt;</td>
            <td>description list</td>
        </tr>
        <tr>
            <td>&lt;dt&gt;</td>
            <td>term or name to a &lt;dl&gt; element</td>
        </tr>
        <tr>
            <td>&lt;em&gt;</td>
            <td>text that shows emphasis</td>
        </tr>
        <tr>
            <td>&lt;embed&gt;</td>
            <td>container for an external resource or plug-in</td>
        </tr>
        <tr>
            <td>&lt;fieldset&gt;</td>
            <td>related form elements and displays a box with a legend around</td>
        </tr>
        <tr>
            <td>&lt;figcaption&gt;</td>
            <td>caption to a &lt;figure&gt; (image) element</td>
        </tr>
        <tr>
            <td>&lt;figure&gt;</td>
            <td>self-contained content</td>
        </tr>
        <tr>
            <td>&lt;footer&gt;</td>
            <td>footer section on a page or a section of a page</td>
        </tr>
        <tr>
            <td>&lt;form&gt;</td>
            <td>data entry area that contains input elements</td>
        </tr>
        <tr>
            <td>&lt;h1&gt;-&lt;h6&gt;</td>
            <td>headers 1-6</td>
        </tr>
        <tr>
            <td>&lt;head&gt;</td>
            <td>holds metadata elements</td>
        </tr>
        <tr>
            <td>&lt;header&gt;</td>
            <td>header section on a page or a section of a page</td>
        </tr>
        <tr>
            <td>&lt;hr&gt;</td>
            <td>horizonal rule representing a thematic change in content</td>
        </tr>
        <tr>
            <td>&lt;html&gt;</td>
            <td>root container for an HTML document</td>
        </tr>
        <tr>
            <td>&lt;i&gt;</td>
            <td>italic text</td>
        </tr>
        <tr>
            <td>&lt;iframe&gt;</td>
            <td>a frame in which another web page can be embedded</td>
        </tr>
        <tr>
            <td>&lt;img&gt;</td>
            <td>image</td>
        </tr>
        <tr>
            <td>&lt;input&gt;</td>
            <td>input field in which data can be entered</td>
        </tr>
        <tr>
            <td>&lt;ins&gt;</td>
            <td>inserted text</td>
        </tr>
        <tr>
            <td>&lt;kbd&gt;</td>
            <td>keyboard input often with CTRL SHIFT or ALT</td>
        </tr>
        <tr>
            <td>&lt;label&gt;</td>
            <td>label or brief description before input elements</td>
        </tr>
        <tr>
            <td>&lt;legend&gt;</td>
            <td>caption for &lt;fieldset&gt;</td>
        </tr>
        <tr>
            <td>&lt;li&gt;</td>
            <td>list item used in &lt;ol&gt; and &lt;ul&gt; elements</td>
        </tr>
        <tr>
            <td>&lt;link&gt;</td>
            <td>link to an external source</td>
        </tr>
        <tr>
            <td>&lt;main&gt;</td>
            <td>a container for the main content of the page</td>
        </tr>
        <tr>
            <td>&lt;map&gt;</td>
            <td>a client-side image map</td>
        </tr>
        <tr>
            <td>&lt;mark&gt;</td>
            <td>marks or highlights text</td>
        </tr>
        <tr>
            <td>&lt;meta&gt;</td>
            <td>metadata about the web page</td>
        </tr>
        <tr>
            <td>&lt;meter&gt;</td>
            <td>measurement control like a gauge</td>
        </tr>
        <tr>
            <td>&lt;nav&gt;</td>
            <td>container for navigation links</td>
        </tr>
        <tr>
            <td>&lt;object&gt;</td>
            <td>Embeds external objects in a page such as audio, video, image, or PDF</td>
        </tr>
        <tr>
            <td>&lt;ol&gt;</td>
            <td>numerically or alphabetically ordered list of items</td>
        </tr>
        <tr>
            <td>&lt;optgroup&gt;</td>
            <td>related options in a &lt;select&gt; element</td>
        </tr>
        <tr>
            <td>&lt;option&gt;</td>
            <td>adds item to a &lt;select&gt; element</td>
        </tr>
        <tr>
            <td>&lt;output&gt;</td>
            <td>output results of a calculation</td>
        </tr>
        <tr>
            <td>&lt;p&gt;</td>
            <td>paragraph or body text</td>
        </tr>
        <tr>
            <td>&lt;picture&gt;</td>
            <td>Adds images with a bit more flexibility than the &lt;img&gt; element</td>
        </tr>
        <tr>
            <td>&lt;pre&gt;</td>
            <td>preformatted text in fixed-width font -- usually computer code</td>
        </tr>
        <tr>
            <td>&lt;progress&gt;</td>
            <td>control that displays progress of a task</td>
        </tr>
        <tr>
            <td>&lt;q&gt;</td>
            <td>short quotation in with quotation marks</td>
        </tr>
        <tr>
            <td>&lt;ruby&gt;</td>
            <td>Represents a small annotation with pronunciation of text</td>
        </tr>
        <tr>
            <td>&lt;samp&gt;</td>
            <td>displays sample output from computer code</td>
        </tr>
        <tr>
            <td>&lt;script&gt;</td>
            <td>adds JavaScript to a page server-side or client-side</td>
        </tr>
        <tr>
            <td>&lt;section&gt;</td>
            <td>piece of content that can stand on its own</td>
        </tr>
        <tr>
            <td>&lt;select&gt;</td>
            <td>dropdown control</td>
        </tr>
        <tr>
            <td>&lt;source&gt;</td>
            <td>adds a media source for a &lt;video&gt;,  &lt;audio&gt;, or &lt;picture&gt;</td>
        </tr>
        <tr>
            <td>&lt;span&gt;</td>
            <td>container for one or more inline text elements</td>
        </tr>
        <tr>
            <td>&lt;strong&gt;</td>
            <td>important text</td>
        </tr>
        <tr>
            <td>&lt;style&gt;</td>
            <td>adds CSS style elements to a page</td>
        </tr>
        <tr>
            <td>&lt;sub&gt;</td>
            <td>subscript text; characters display lower and in smaller font</td>
        </tr>
        <tr>
            <td>&lt;summary&gt;</td>
            <td>heading that toggles &lt;details&gt; element when clicked</td>
        </tr>
        <tr>
            <td>&lt;sup&gt;</td>
            <td>superscript text; characters display higher and in smaller font</td>
        </tr>
        <tr>
            <td>&lt;svg&gt;</td>
            <td>vector image</td>
        </tr>
        <tr>
            <td>&lt;table&gt;</td>
            <td>used to display tabular data with rows and columns</td>
        </tr>
        <tr>
            <td>&lt;tbody&gt;</td>
            <td>table body</td>
        </tr>
        <tr>
            <td>&lt;td&gt;</td>
            <td>table cell of data</td>
        </tr>
        <tr>
            <td>&lt;template&gt;</td>
            <td>hidden content holder that can be copied by JavaScript</td>
        </tr>
        <tr>
            <td>&lt;textarea&gt;</td>
            <td>multi-line text input</td>
        </tr>
        <tr>
            <td>&lt;tfoot&gt;</td>
            <td>table footer</td>
        </tr>
        <tr>
            <td>&lt;th&gt;</td>
            <td>table header cell</td>
        </tr>
        <tr>
            <td>&lt;thead&gt;</td>
            <td>header rows in a table</td>
        </tr>
        <tr>
            <td>&lt;time&gt;</td>
            <td>human-readable date/time item</td>
        </tr>
        <tr>
            <td>&lt;title&gt;</td>
            <td>page title that will display in the browser&#39;s tab</td>
        </tr>
        <tr>
            <td>&lt;tr&gt;</td>
            <td>table row with &lt;th&gt; or &lt;td&gt; elements</td>
        </tr>
        <tr>
            <td>&lt;track&gt;</td>
            <td>adds a text track such as subtitles or captions for media</td>
        </tr>
        <tr>
            <td>&lt;u&gt;</td>
            <td>underlined text</td>
        </tr>
        <tr>
            <td>&lt;ul&gt;</td>
            <td>unordered bulleted list of list items</td>
        </tr>
        <tr>
            <td>&lt;var&gt;</td>
            <td>defines its contents as a variable</td>
        </tr>
        <tr>
            <td>&lt;video&gt;</td>
            <td>video player</td>
        </tr>
        <tr>
            <td>&lt;wbr&gt;</td>
            <td>line-breaking</td>
        </tr>
        <tr>
            <td>&lt;!DOCTYPE&gt;</td>
            <td>defines the version of HTML; first line of an HTML document</td>
        </tr>
    </tbody>
</table>
